{% extends "base.html" %}
{% block content %}
    <h1>Forgot Password?</h1>
    <p>Enter the email address you used to sign up and receive a temporary password.</p>
    <p>Be sure to reset your password once you log back in!</p>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
